.sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    transition: width 0.5s;
    overflow: hidden;
    z-index: 1000;
    border-right: 2px solid grey;
    

}

.sidebar:hover {
    width: 200px;
}

.link-text {
    display: none;
    margin-left: 10px;
}

.sidebar:hover .link-text {
    display: inline;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.sidebar ul li img.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: brightness(0) invert(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.icon {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.separator {
    margin-top: 200px;
    /* Adjust the value as needed */
}

